<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Bootstrap 3 -->
<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div th:fragment="footer">
		<hr/>
		<div id="userinfo">
		    <div sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
				<span th:text="#{label_welcome}">Welcome, </span>
				<span sec:authentication="name">Wade</span>
			</div>
		</div>
		
		<div>
			<a href="../home.html" th:href="@{/home}" th:text="#{home_text}">Home</a> | <a href="#"
				th:href="@{?lang=en}" th:text="#{label_en_CA}">English</a> | <a href="#"
				th:href="@{?lang=zh}" th:text="#{label_zh_CA}">Chinese</a>
		</div>
		
	</div>
</body>
</html>