<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RM Tool</title>

<!-- Main style sheet  -->
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" media="screen" /> 


<!-- Bootstrap 3 -->
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" media="screen" />

</head>
<body>

		<div th:replace="fragments/header :: header">Header</div>

	<div class="container">

		<h3 th:text="#{welcome_header}">Welcome to Application Demo UI</h3>

		<br />

		<h3 th:text="#{project_header}">Technology Stack</h3>
		<ul>
			<li>Spring Boot, no-xml Spring MVC 4 web application for Servlet 3.0 environment</li>
			<li>Thymeleaf templates</li>
			<li>JPA 2.0 (Spring Data JPA/Hibernate)</li>
			<li>Database (MySQL)</li>
			<li>Testing (JUnit/Mockito/MockMVC/AssertJ/Hamcrest)</li>
			<li>Java 7, Spring Security 4.0, Maven 3, Logback, Bootstrap 3.3.4, jQuery 1.11.2, etc</li>
		</ul>
		<br />

		<h3 th:text="#{sub_header}">Demo Application Provide Below Functionalities</h3>
		<ul>
			<li><a href="/userManage" th:href="@{/userManage}">User management (Admin)</a></li>
			<li>Instance management - TBC</li>
			<li>Job management - TBC </li>
			<li>Config - TBC</li>
			<li>Report - TBC</li>
		</ul>
		<br />

	</div>
		 <div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>