<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{application_name}">Application Demo</title>

<!-- Main style sheet -->
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" />

<!-- Bootstrap 3 -->
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" media="screen" />

</head>
<body>
	<div class="container">
		<form class="form-narrow form-horizontal" th:action="@{/signin}" method="post">
			<fieldset>
				<legend th:text="#{menu_signin}">Please Sign In</legend>
				<div class="form-group">
					<label for="username" class="control-label" th:text="#{label_username}">Username</label> <input
						type="text" class="form-control" id="username" placeholder="Username"
						th:placeholder="#{label_username}" name="username" />
				</div>
				<div class="form-group">
					<label for="password" class="control-label" th:text="#{label_password}">Password</label> <input
						type="password" class="form-control" id="password" placeholder="Password"
						th:placeholder="#{label_password}" name="password" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default" th:text="#{btn_signin}">Sign in</button>
				</div>
			</fieldset>
			<div th:if="${param.error}" class="warning">
				<p th:text="#{message_login_fail}" style="color:red">Login failed, please try again.</p>
			</div>
		</form>

		<p style="text-align:center;">
			User account = <i>user &amp; user</i> <br/> 
			Admin account = <i>admin &amp; admin</i>
		</p>

		<div th:replace="fragments/footer :: footer">Footer</div>
</div>
</body>
</html>