<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>User Management</title>

<!-- Main style sheet  -->
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" /> 

<!-- Bootstrap 3 -->
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" media="screen" />

</head>
<body>

	<div th:replace="fragments/header :: header">Header</div>

	<div class="container">
		<div>
			<button type="button" class="btn btn-default btn-sm" id="addUser"  th:text="#{btn_addUser}">Add User</button>
			<button type="button" class="btn btn-default btn-sm" id="refresh"  th:text="#{btn_refresh}">Refresh</button>
		</div>
		<div class="bs-example" data-example-id="bordered-table" style="margin-top:5px" id="tablediv">
			<table class="table table-bordered" th:fragment="myTable">
				<thead>
					<tr>
						<th th:text="#{user_column_name}">User Name</th>
						<th th:text="#{user_column_password}">Password</th>
						<th th:text="#{user_column_email}">Email</th>
						<th th:text="#{user_column_role}">Role</th>
						<th style="text-align:center"><div class="glyphicon glyphicon-wrench" style="color:black" data-toggle="tooltip" title="Edit and Delete"></div></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
					<input type="hidden" th:value="${user.id}" />
						<td th:text="${user.name}">Onions</td>
						<td >******</td>
					  	<!--  
						<td th:text="${user.password}">123456</td> 
						-->
						<td th:text="${user.email}">test</td>
						<td th:text="${user.role}">role</td>
						<td width="8%" style="text-align:center"><a class="glyphicon glyphicon-edit" style="color:black" onclick="editDialog(this);"></a>
						<a class="deletebutton glyphicon glyphicon-remove" style="color:black" onclick="deleteConfirm(this);"></a></td>
					</tr>
				</tbody>
			</table>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Add User</h4>
					</div>
					<div class="modal-body">
						<form role="form" data-toggle="validator" id="addForm" >
							<div class="form-group">
								<label for="inputName">Name</label> <input type="text" name="inputName"
									class="form-control" id="inputName" placeholder="User Name" data-error="User Name is invalid." 
									data-remote="/uniqueCheck" th:attr="data-remote=@{/uniqueCheck}" 
									data-remote-error="User Name is duplicate." required="required" />
									<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="inputPWD">Password</label> <input type="password"
									class="form-control" id="inputPWD" pattern=".{3,}"
									title="three or more characters" placeholder="Password" data-error="Minimum of 3 characters" required="required" />
									<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="inputEmail">Email</label> <input type="email"
									class="form-control" id="inputEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
									placeholder="wade.xu@example.com" data-error="Email address is invalid" required="required"/>
									<div class="help-block with-errors"></div>
							</div>

							<div class="form-group">
								<label for="role">Role</label>
								<select class="form-control" id='role' pattern=".{1,}" data-error="Please select one" required="required">
									<option value="" selected="selected">Please Select</option>
									<option value="ADMIN">ADMIN</option>
									<option value="USER">USER</option>
								</select>
								<div class="help-block with-errors"></div>
							</div>
							
							<!-- a workaround for validate form -->
							 <button type="submit" class="btn btn-primary" style="display:none" data-disable="">Submit</button>
						</form>
					</div>
					
        			 <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf" /> -->
        			 
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="create">Create</button>
						<button type="button" class="btn btn-primary" id="save" onclick="edit();">Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Confirmation modal-dialog -->
		<div class="modal fade" id="confirmDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Confirmation</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this user?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="deleteUser();">Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
	
	<!-- JavaScript Files, has been included in header.html-->
    <!-- 
	 	<script src="../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script> 
		<script src="../static/js/libs/bootstrap.min.js" th:src="@{/js/libs/bootstrap.min.js}"></script>
		<script src="../static/js/plugins/validator.js" th:src="@{/js/plugins/validator.js}"></script>
	 -->
	 
		<script src="../static/js/usermanage.js" th:src="@{/js/usermanage.js}"></script>
</body>
</html>